<div>
    <div>
        <div class="section-header">
            <h3>Comparison</h3>
            <i data-feather="more-vertical"></i>
        </div>
        <form>
            <label for="comparisons">2 </label>
            <select name="comparisons" id="comparisons" style = "border:none">
                <option value="Interviews">Interviews</option>
                <option value="Offers Accepted">Offers Accepted</option>                            
            </select>
            <br><br>                        
        </form> 

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="me">
            <label class="form-check-label" for="inlineRadio1">Me</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="track">
            <label class="form-check-label" for="inlineRadio2">Track</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="mba">
            <label class="form-check-label" for="inlineRadio3">MBA </label>
        </div> 
        
                                            
                            
    </div>
    <div class="mb-3">
    <br></br>
        <svg viewBox="0 0 500 100" class="chart">

        <polyline
            fill="none"
            stroke="#0074d9"
            stroke-width="2"
            points="
            00,120
            20,60
            40,80
            60,20
            80,80
            100,80
            120,60
            140,100
            160,90
            180,80
            200, 110
            220, 10
            240, 70
            260, 100
            280, 100
            300, 40
            320, 0
            340, 100
            360, 100
            380, 120
            400, 60
            420, 70
            440, 80
            "
        />
                            
        </svg>
    </div>

    <button type="button" class="btn btn-outline-primary" style="background: #1BC1AC">Week</button>
    <button type="button" class="btn btn-outline-secondary">Month</button>
    <button type="button" class="btn btn-outline-success">Fall</button>


</div>