<div>
    <div>
        <div class="section-header">
            <h3>Comparison</h3>
            <i data-feather="more-vertical"></i>
        </div>
        <form>
            <select name="comparisons" id="comparisons">
                <option value="InfoInterview">Info Interviews</option>
                <option value="Interviews">Interviews</option>
                <option value="InfoSession">Info Sessions</option>
                <option value="Offers">Offers</option>
                <option value="OffersAccepted">Offers Accepted</option>                            
            </select>
        </form> 

            </div>
    <div>
        <img src="{{ url_for('students.static', filename='ComparisonChart.png') }}" alt="Comparison Chart">
    </div>

    <div>
        <input type="radio" name="reportDuration" id="chartWeek" value="week">
        <label for="chartWeek">Week</label>
        <input type="radio" name="reportDuration" id="chartMonth" value="month">
        <label for="chartMonth">Month</label>
        <input type="radio" name="reportDuration" id="chartYear" value="year">
        <label for="chartYear">Year</label>
    </div> 
</div>