<div>
    <div class='section-header'>
            <h3>Conversion Rates</h3>
            <i data-feather="more-vertical"></i>
    </div>

    <p> Hover over the pyrchase funnel to see your personalized conversion formula </p>

    <img src="{{ url_for('students.static', filename='ConversionFunnel.png') }}" alt="Conversion Funnel">

    <br></br>

    <div class="vertical-toggle">
        <input type="radio" name="reportDuration" id="chartWeek" value="week">
        <label for="chartWeek">Week</label>
        <input type="radio" name="reportDuration" id="chartMonth" value="month">
        <label for="chartMonth">Month</label>
        <input type="radio" name="reportDuration" id="chartYear" value="year">
        <label for="chartYear">Year</label>
    </div> 

</div>