<div class="col-sm-5">
    <div class="mb-3">
        <p style ="display: flex; justify-content: space-between; padding-top: 60px">
            <b style="text-align:left">Conversion Rates</b>
            <span style="font-size: 20px">&#8942;</span>                   
        </p>
    </div>

    <p> Personalized Conversion Formula </p>
    <b> A = Formula * Here </b> <br></br>
    
    

    <ul id="conversion_funnel">
        <li style="text-align:center"><br>12</br> Applications</li>
        <li style="text-align:center"><br>3</br> Mock Interviews</li>
        <li style="text-align:center"><br>18</br> Interviews</li>
        <li style="text-align:center"><br>0</br> Offers</li>
    </ul>

    <br></br>

    <button type="button" class="btn btn-outline-primary" style="background: #1BC1AC">Week</button>
    <button type="button" class="btn btn-outline-secondary">Month</button>
    <button type="button" class="btn btn-outline-success">Fall</button>
</div>