<div class="row">
    <a href="{{url_for('students.edit_profile', studentId=student.id) }}" class="btn upper-left"><i data-feather="edit-2" class="size-1"></i></a>
    <p><img src="{{ student.photo }}" alt="Student Photo" class="img-circle card-img-top"></p>
    <div class="mb-3">
        <h5>{{ student.firstName }} {{student.lastName }}</h5>
        <dl>
            <dt>Class:</dt> <dd>{{ student.class }}</dd>
            <dt>Track:</dt> <dd>{{ student.track }}</dd>
            <dt>Mentor:</dt> <dd>{{ student.mentor }}</dd>
            <dt>Interest:</dt> <dd>{{student.interest }}</dd>
        </dl>
    </div>
</div>
