<div class="col-sm-5">
    <div class="mb-3">
        <p style ="display: flex; justify-content: space-between; padding-top: 60px">
            <b style="text-align:left">Career Progress</b>
            <span style="font-size: 20px">&#8942;</span>                   
        </p>
    </div>

    <p> Company </p>
    <br></br>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Apple</li>
        <li class="list-group-item">Adobe</li>
        <li class="list-group-item">Amazon</li>
        <li class="list-group-item">Dell</li>
        <li class="list-group-item">BYU</li>
    </ul>             
    
</div>
