<div class="card-header">
    Career Progress
    <div class="more">
        <i data-feather="more-vertical"></i>
    </div>
</div>

<div class=card-body>
    <h4> Company </h4>
    {# {% for company in student.companies %}
        {% include "_company.html" %}
    {% endfor %} #}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Apple</li>
        <li class="list-group-item">Adobe</li>
        <li class="list-group-item">Amazon</li>
        <li class="list-group-item">Dell</li>
        <li class="list-group-item">BYU</li>
    </ul>             
    
</div>
