.content_block {

}

.circle_mask {
    position: absolute;
    width: 180px;
    height: 180px;
    left: calc(50% - 180px/2);
    top: calc(50% - 180px/2);
}

.text_block {

}

h3 {
    /* Heading 2 */
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
}
.student_details {

}
