html {
	font-family: 'PoppinsRegular';
	font-weight: normal;
	font-style: normal;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0; 
}

main {
	flex: 1 100%;
	display:flex;
	flex-flow: row nowrap;
}

aside { 
	flex: 1 auto;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: stretch;
	padding: 0 2% 0 2%; 
}

#left-content{
	background: #4CB1CE;
}

#right-content{
	background: grey;
}

#center-content { 
	flex: 2 auto; 
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: stretch; 
	padding: 0 2% 0 2%;
}

.student-list {
	height: 40vh;
	overflow-x: auto;
	background-color: #E5E5E5;
	border: 1px solid black;
	padding: 0 2% 0 2%;
}

#overview-header{
	display:flex;
	flex-flow: row nowrap;
	background-color: #002E5D;
	color: white;
	padding: 30px;
}


#kpi-data-tracks{
	display: flex;
	list-style-type:none;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}


#kpi-data-tracks li {
	width: 5vw;
	height: 5vw;
	border: 3px solid #E5E5E5;
	border-radius: 50%;
	text-align: center;
}

#placement-status {
	display: flex;
	flex-flow: row nowrap;
}


#lamp-list li {
	width: 10vw;
	height: 10vw;
	text-align: center;
	vertical-align: center;
}

.company-list{
	height: 90vh;
	overflow-x: auto;
	background: lightgrey;
	border: 1px solid black;
}

.timeline{
	width: 100%;
	background: darkgrey;
}

#student-info, #recruiting-info{
	display:flex;
	flex-flow: row nowrap;
}

#student-profile{
	list-style-type: none;
	padding: 2px;
}

.button {
	background-color: #4CB1CE;
	border: none; 
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	
  }
  .button1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: left;
	padding: 3px 10px;
	width: 335px;
	height: 58px;
	/*position: absolute;
	left: 968px;
	top: 79px; */
	background-color: #1AC0AC;
	border-radius: 5px;
	text-decoration: none;}
  .button3 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: left;
	width: 335px;
	height: 75px;
	padding: 3px 10px;
	border-radius: 5px;
	text-decoration: none;
	background-color: #4CB1CE;
	/*position: absolute;
	left: 968px;
	top: 148px;*/
	}
  .button4 {border-radius: 12px;}
  .button5 {border-radius: 50%;}

  .row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
  }
  
  .column {
	flex: 20%;
	padding: 5px;
  }

  .circle {
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 50%;
	font-size: 15px;
	color: #fff;
	text-align: center;
	background: rgb(15, 163, 189)
  }


  
  