{% extends "site_template/base.jinja" %}

{% block body %}
    {% block top_navigation %}
        {% include "site_template/navbar.jinja" %}
    {% endblock %}
    
    <div class="container-md">
        <div class="row">
    
            {% block messages %}
                {{ render_messages() }}
            {% endblock %}
        </div>
        
        <main role="main" class="flex-fill justify-content-center">
            {% block content %}
            {% endblock content %}
        </main>
    
        <footer role="footer" class="row flex-fill bg-dark">
            {% block footer %}
                {% include "site_template/footer.jinja" %}
            {% endblock %}
        </footer>
    </div>
{% endblock %}
