<nav class="navbar navbar-light sticky-top flex-nowrap p-0 bg-light border-bottom">
    <div class="nav-item dropdown ms-1">
        <button class="navbar-toggler" type="button" id="navMenuButton" data-bs-toggle="dropdown"
                data-bs-target="#navMenu" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle More Menu">
            <i data-feather="more-horizontal" class="nav-icon"></i> 
        </button>
        <div class="dropdown-menu bg-light" aria-labeledby="navMenuButton">
            {% if current_user.is_anonymous %}
                {{ render_nav_item('util.login', "Login") }}
            {% else %}
                {{ render_nav_item('students.create_student', 'Create New Student') }}
                {{ render_nav_item('students.dashboard', 'Student Dashboard') }}
                {{ render_nav_item('students.edit_profile', 'Student Edit Profile') }}
                {{ render_nav_item('career_services.dashboard', 'Career Services Dashboard') }}
                {{ render_nav_item('career_services.student_view', 'Career Services Student View') }}
                {{ render_nav_item('students.intake_survey', 'Student Intake Survey') }}
                {{ render_nav_item('students.kpi_reporting', 'Report KPIs') }}
                {{ render_nav_item('util.change_password', 'Change Password') }}
                {{ render_nav_item('util.logout', 'Logout') }}
            {% endif %}
        </div>
        </div>
    <input class="form-control m-2 p-1" type="text" placeholder="" aria-label="Search">
    <button class="btn" type="submit"><i data-feather="search" class="nav-icon"></i></button>
    <button class="btn" type="submit"><i data-feather="bell" class="nav-icon"></i></button>

</nav>