<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="{{ url_for('base.index') }}">Everest Tracker</a>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    {% if current_user.is_anonymous %}
        {{ render_nav_item('util.login', "Login") }}
    {% else %}
        <div class="nav-item dropdown">
            <button class="navbar-toggler" type="button" id="navMenuButton" data-toggle="dropdown" 
                aria-haspopup="true" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labeledby="navMenuButton">
                {{ render_nav_item('students.dashboard', 'Student Dashboard') }}
                {{ render_nav_item('students.edit_profile', 'Student Edit Profile') }}
                {{ render_nav_item('career_services.dashboard', 'Career Services Dashboard') }}
                {{ render_nav_item('career_services.student_view', 'Career Services Student View') }}
                {{ render_nav_item('students.intake_survey', 'Student Intake Survey') }}
                {{ render_nav_item('students.kpi_reporting', 'Report KPIs') }}
                {{ render_nav_item('util.logout', 'Logout') }}
            </div>
            
        </div>
        {% endif %}
</nav>