<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('students.dashboard') }}">
                    <span data-feather="bar-chart-2"></span>
                    Student Dashboard
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('students.edit_profile') }}">
                    <span data-feather="file"></span>
                    Edit Student Profile
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('career_services.dashboard') }}">
                    <span data-feather="aperture"></span>
                    Career Services Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('career_services.student_view') }}">
                    <span data-feather="user"></span>
                    Career Services Student View
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('students.intake_survey') }}">
                    <span data-feather="plus"></span>
                    New Student Form
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('students.kpi_reporting') }}">
                    <span data-feather="bookmark"></span>
                    Report KPI (Weekly Report)
                </a>
            </li>
            
        </ul>
        
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Saved reports</span>
            <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Placeholder 1
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Placeholder 1
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Placeholder 1
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Placeholder 1
                </a>
            </li>
        </ul>
    </div>
</nav>


