{% extends "site_template/base_plain.jinja" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('students.static', filename='students.css') }}">
{% endblock styles %}
{% block content %}   
    {% include "students/blocks/information.jinja" %}
    {% include "students/blocks/comparison.jinja" %}
    {% include "students/blocks/conversion.jinja" %}
    {% include "students/blocks/progress.jinja" %}
{% endblock content %}