{% extends "site_template/base_plain.jinja" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('students.static', filename='students.css') }}">
{% endblock styles %}
{% block content %}
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="panel" id="profile">
                {% include "students/blocks/information.jinja" %}
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 h-100">
            <div class="panel" id="comparison">
                {% include "students/blocks/comparison.jinja" %}
            </div>  
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="panel" id="conversion">
                {% include "students/blocks/conversion.jinja" %}
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="panel" id="progress">
                {% include "students/blocks/progress.jinja" %}
            </div>
            
        </div>
    </div>
    
{% endblock content %}