{% extends "site_template/base_plain.jinja" %}

{% block content %}   
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="teamAna">Home</a>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
            
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="mb-3">
                            <input class="form-control" type="file" id="formFile">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
                    </div>
                </div>
            
            </div>
        </div>
        
    </div>

    <div class="container">
        <div class="row">            
            <div class="col order-first"> </div>            
            
            <div class="col-sm-4"> 
                <p style ="display: flex; justify-content: space-between">
                    <a href="{{url_for('students.dashboard') }}" style="color: Red" style="text-align:left">Cancel</a>
                    <a href="{{url_for('students.dashboard') }}" style="color: black" style="text-align:right">Done</a>                    
                </p>             
                           
               <p style="text-align: center"> 
                    <a data-toggle="modal" href="#myModal">
                        <img src="https://slc.byu.edu/sites/saltlakecenter.ce.byu.edu/files/current_students.png" class="img-circle" alt="Student" 
                        style="width:200px; height:200px;">    
                    </a>           
               </p>

               <p style="text-align:center"><a href="profileEdit" style="color: Blue">Edit</a></p>

                <div class="mb-3">
                    <input class="form-control" type="text" placeholder="Nathan Saguibo">                    
                </div>
                <div class="mb-3">
                    <input class="form-control" type="text" placeholder="Class: 2023"> 
                </div>
                <div class="mb-3">
                    <input class="form-control" type="text" placeholder="Track: Marketing"> 
                </div>
                <div class="mb-3">
                    <input class="form-control" type="text" placeholder="Mentor: Jon Kent"> 
                </div>
                <div class="mb-3">
                    <input class="form-control" type="text" placeholder="Interest: Tech"> 
                </div>
                                
            </div>

            <div class="col order-last"> </div>          
        </div>        
        
    </div>    

{% endblock content %}