{% extends "site_template/base_plain.jinja" %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}
    <h1>Add New Student</h1>
    <p>This form needs to both create a student, but also create a new user and send a password reset email.</p>
    {{ render_form(form) }}
{% endblock content %}  