{% extends "site_template/base_sidebar.jinja" %}

{% block content %}
<h1> Please Enter Your Username or Email </h1>
<h2> When you click "send email", an email with a temporary password will be sent to the 
email address associated with your account and a link to reset your password </h2>
  <div class="container">
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username or Email" name="username" value="{{
          request.form.username }}">
        
        <input class="btn btn-default" type="submit" value="Send Email">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
{% endblock content %}

