{% extends "site_template/base_sidebar.jinja" %}
{% from "bootstrap/form.html" import render_form %}

{% block content %}
  <h1> Please Login </h1>
      <div class = "row">
        <div class="col col-md-4 align-self-center">
          {{ render_form(form) }}
        </div>
      </div>
      <div class="row">
        <div class="col col-md-4 align-self-center">
          <a href="{{ url_for('forgotpassword') }}"> Forgot Password </a>
        </div>
      </div>
{% endblock content %}

