{% extends "site_template/base_plain.jinja" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('career_services.static', filename='career_services.css') }}">
{% endblock styles %}

{% block content %}
    <main>
            <aside id="left-content" class="aside">
                <div>
                    <h1>Student List</h1>
                    <input type="text" placeholder="Search">
                </div>
                <div>
                    <h3>Class of 2023</h3>
                    <div class="student-list">
                        <ul>
                            <li>Student A</li>
                            <li>Student B</li>
                            <li>Student C</li>
                            <li>Student D</li>
                            <li>Student E</li>
                            <li>Student F</li>
                            <li>Student G</li>
                            <li>Student H</li>
                            <li>Student I</li>
                            <li>Student J</li>
                            <li>Student K</li>
                            <li>Student L</li>
                            <li>Student M</li>
                            <li>Student N</li>
                            <li>Student O</li>
                            <li>Student P</li>
                            <li>Student Q</li>
                            <li>Student R</li>
                            <li>Student S</li>
                            <li>Student T</li>
                            <li>Student U</li>
                            <li>Student V</li>
                            <li>Student W</li>
                            <li>Student X</li>
                            <li>Student Y</li>
                            <li>Student Z</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h3>Class of 2022</h3>
                    <div class="student-list">
                        <ul>
                            <li>Student A</li>
                            <li>Student B</li>
                            <li>Student C</li>
                            <li>Student D</li>
                            <li>Student E</li>
                            <li>Student F</li>
                            <li>Student G</li>
                            <li>Student H</li>
                            <li>Student I</li>
                            <li>Student J</li>
                            <li>Student K</li>
                            <li>Student L</li>
                            <li>Student M</li>
                            <li>Student N</li>
                            <li>Student O</li>
                            <li>Student P</li>
                            <li>Student Q</li>
                            <li>Student R</li>
                            <li>Student S</li>
                            <li>Student T</li>
                            <li>Student U</li>
                            <li>Student V</li>
                            <li>Student W</li>
                            <li>Student X</li>
                            <li>Student Y</li>
                            <li>Student Z</li>
                        </ul>
                    </div>
                </div>
            </aside>
            <main id="center-content">
                <div id="overview-header">
                    <h1>BYU MBA KPI Overview</h1>
                </div>
                <div id="kpi-data">
                    <h4>KPI Data</h4>
                    <ul id="kpi-data-tracks">
                        <div class="circle">Marketing</div>
                        <div class="circle">Finance</div>
                        <div class="circle">Supply Chai</div>
                        <div class="circle">HR</div>
                        <div class="circle">Entrepr</div>
                        <div class="circle">Average</div>
                    </ul>
                    <br><br>


                </div>
              
                <div id="placement-status">
                    <div>
                    <h3>Internships</h3><br>
                    <h4>Accepted Offers:</h4>
                    <div>👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤</div><br>
                    <h4>Searching:</h4>
                    <div>👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤</div><br>
                    <h4>Not Looking:</h4>
                    <div>👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤</div><br>
                    </div>
                
                    <div>
                    <h3>Full-time</h3><br>
                    <h4>Accepted Offers:</h4>
                    <div>👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤</div><br>
                    <h4>Searching:</h4>
                    <div>👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤</div><br>
                    <h4>Not Looking:</h4>
                    <div>👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤👤</div><br>
                    </div>
                </div>
 
                <div>
                    <br>
                    <h4>Top Companies on Lamp List:</h4>
                    <br><br>
                  
                        <table class ="row">
                            <tr class="column">
                                <a href="https://www.google.com"><img src="{{ url_for('career_services.static', filename='google-logo.png') }}" width="180" height="100"></a>
                            </tr>    
                            <tr class="column">
                                <a href="https://www.adobe.com"><img src="{{ url_for('career_services.static', filename='adobe-logo.png') }}" width="130" height="100"></a>
                            </tr>
                            <tr class="column">
                                <a href="https://www.linkedin.com"><img src="{{ url_for('career_services.static', filename='linkedin-logo.jpg') }}" width="140" height="90"></a>
                            </tr>
                            <tr class="column">
                                <a href="https://www.microsoft.com"><img src="{{ url_for('career_services.static', filename='microsoft-logo.jpg') }}" width="125" height="100"></a>
                            </tr>
                            <tr class="column">
                                <a href="https://www.apple.com"><img src="{{ url_for('career_services.static', filename='apple-logo.png') }}" width="140" height="100"></a>
                            </tr>
                        </table>
                  
                </div>
                <div class="timeline">
                    <label for="timeline">Timeline progress:</label>
                    <progress id="timeline" max="100" value="70"> 70% </progress>
                </div>
            </main>
            <aside id="right-content" class="aside">
                <div>
                    <h1>Company List</h1>
                    <input type="text" placeholder="Search">
                </div>
                <div>
                    <div class="company-list">
                        <ul>
                            <li>Company A</li>
                            <li>Company B</li>
                            <li>Company C</li>
                            <li>Company D</li>
                            <li>Company E</li>
                            <li>Company F</li>
                            <li>Company G</li>
                            <li>Company H</li>
                            <li>Company I</li>
                            <li>Company J</li>
                            <li>Company K</li>
                            <li>Company L</li>
                            <li>Company M</li>
                            <li>Company N</li>
                            <li>Company O</li>
                            <li>Company P</li>
                            <li>Company Q</li>
                            <li>Company R</li>
                            <li>Company S</li>
                            <li>Company T</li>
                            <li>Company U</li>
                            <li>Company V</li>
                            <li>Company W</li>
                            <li>Company X</li>
                            <li>Company Y</li>
                            <li>Company Z</li>
                            <li>Company A</li>
                            <li>Company B</li>
                            <li>Company C</li>
                            <li>Company D</li>
                            <li>Company E</li>
                            <li>Company F</li>
                            <li>Company G</li>
                            <li>Company H</li>
                            <li>Company I</li>
                            <li>Company J</li>
                            <li>Company K</li>
                            <li>Company L</li>
                            <li>Company M</li>
                            <li>Company N</li>
                            <li>Company O</li>
                            <li>Company P</li>
                            <li>Company Q</li>
                            <li>Company R</li>
                            <li>Company S</li>
                            <li>Company T</li>
                            <li>Company U</li>
                            <li>Company V</li>
                            <li>Company W</li>
                            <li>Company X</li>
                            <li>Company Y</li>
                            <li>Company Z</li>
                        </ul>
                    </div>
            </aside>
        </main>
{% endblock content %}
        