{% extends 'site_template/base_sidebar.jinja' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('career_services.static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('career_services.static', filename='styling.css') }}">
{% endblock styles %}

{% block content %}
<main>
    <aside id="left-content" class="aside">
        <div>
            <h1>Student List</h1>
            <input type="text" placeholder="Search">
        </div>
        <div>
            <h3>Class of 2023</h3>
            <div class="student-list">
                <ul>
                    <li>Student A</li>
                    <li>Student B</li>
                    <li>Student C</li>
                    <li>Student D</li>
                    <li>Student E</li>
                    <li>Student F</li>
                    <li>Student G</li>
                    <li>Student H</li>
                    <li>Student I</li>
                    <li>Student J</li>
                    <li>Student K</li>
                    <li>Student L</li>
                    <li>Student M</li>
                    <li>Student N</li>
                    <li>Student O</li>
                    <li>Student P</li>
                    <li>Student Q</li>
                    <li>Student R</li>
                    <li>Student S</li>
                    <li>Student T</li>
                    <li>Student U</li>
                    <li>Student V</li>
                    <li>Student W</li>
                    <li>Student X</li>
                    <li>Student Y</li>
                    <li>Student Z</li>
                </ul>
            </div>
        </div>
        <div>
            <h3>Class of 2022</h3>
            <div class="student-list">
                <ul>
                    <li>Student A</li>
                    <li>Student B</li>
                    <li>Student C</li>
                    <li>Student D</li>
                    <li>Student E</li>
                    <li>Student F</li>
                    <li>Student G</li>
                    <li>Student H</li>
                    <li>Student I</li>
                    <li>Student J</li>
                    <li>Student K</li>
                    <li>Student L</li>
                    <li>Student M</li>
                    <li>Student N</li>
                    <li>Student O</li>
                    <li>Student P</li>
                    <li>Student Q</li>
                    <li>Student R</li>
                    <li>Student S</li>
                    <li>Student T</li>
                    <li>Student U</li>
                    <li>Student V</li>
                    <li>Student W</li>
                    <li>Student X</li>
                    <li>Student Y</li>
                    <li>Student Z</li>
                </ul>
            </div>
        </div>
    </aside>
    <main id="center-content">
        <div id="student-info">
            <p> <img src="{{ url_for('career_services.static', filename='howell.jpg') }}" style="float:left;width: 150px;padding: 10px;"> </p>
            <div>
                <ul id="student-profile">
                    <h2><li>John Howell</li></h2>
                    <li>Class: 2022</li>
                    <li>Mentor: Jon Kent</li>
                    <li>Background</li>
                    <li>Years Experience: 3</li>
                    <li>Previous Jobs Marketing Manager @ Company x</li>
                </ul>
            </div>
            <div>
                <a class="button button1" href="https://www.byu.edu">Resume</a>
                <a class="button button3" href="mailto:john@example.com">Email</a>
            </div>
        </div>
        <div id="recruiting-info">
            <div id="funnel">
                <h5>Student Totals</h5>
                <p>12 Appulcations</p>
                <p>3 Info Interviews</p>
                <p>0 Interviews</p>
                <p>0 Offers</p>
            </div>
            <div id="weekly-average">
                <h5>Career Services Notes</h5>
                <p>Student: 2.6</p>
                <p>Track: 2.2</p>
                <p>1st years: 3.1</p>
            </div>
            <div id="notes">
                <div>
                    <h5>Career Services Notes</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div>
                    <h5>Student Feedback</h5>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
        <div>
            <h4>Top companies on Lamp list:</h4>
            <ul id="lamp-list">
                <div class ="row">
                    <div class="column">
                        <li><a href="https://www.google.com"><img src="{{ url_for('career_services.static', filename='google-logo.png') }}" style="width:100%"></a></li>
                    </div>    
                    <div class="column">
                        <li><a href="https://www.adobe.com"><img src="{{ url_for('career_services.static', filename='adobe-logo.png') }}" style="width:100%"></a></li>
                    </div>
                    <div class="column">
                        <li><a href="https://www.linkedin.com"><img src="{{ url_for('career_services.static', filename='linkedin-logo.jpg') }}" style="width:100%"></a></li>
                    </div>
                    <div class="column">
                        <li><a href="https://www.microsoft.com"><img src="{{ url_for('career_services.static', filename='microsoft-logo.jpg') }}" style="width:100%"></a></li>
                    </div>
                    <div class="column">
                        <li><a href="https://www.apple.com"><img src="{{ url_for('career_services.static', filename='apple-logo.png') }}" style="width:100%"></a></li>
                    </div>
                </div>
            </ul>
    </main>
{% endblock content %}
