<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Career Services Dashboard - {{ title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">

  <link rel="stylesheet" href="{{ url_for('static', filename='student.css') }}">
  <!-- Place favicon.ico in the root directory -->
</head>

<body>

    <a href="{{ url_for('index') }}"><h1>Navblock Here</h1></a>
    <nav>
      <ul>
        <li><a href="{{ url_for('student') }}">Student Dashboard</a></li>
        <li><a href="{{ url_for('career') }}">Career Services Dashboard</a></li>
        <li><a href="{{ url_for("create_student") }}">New Student Form</a></li>
        <li><a href="{{ url_for("weekly_report") }}">Report KPI (Weekly Report)</a></li>
      </ul>
    </nav>

    {% block content %}
  
    {% endblock content %}
  
  
</body>

</html>
