{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/utils.html' import render_messages %}

<!doctype html>
<html class="no-js" lang="">

<head>
    {% block head %}
        {% block meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <meta charset="utf-8">
            <meta name="description" content="">
            <meta http-equiv="x-ua-compatible" content="ie=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="manifest" href="site.webmanifest">
            <link rel="apple-touch-icon" href="icon.png">
            <!-- Place favicon.ico in the root directory -->
        {% endblock %}
        <title>Career Services Dashboard | {% block title %}{% endblock %}</title>

        {% block styles %}
		    <!-- Bootstrap CSS -->
		    {{ bootstrap.load_css() }}
            <!-- Custom Theming -->
            <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
	    {% endblock %}
    {% endblock %}
</head>

<body>
    {% block body %}
        {% block top_navigation %}
            {% include "site_template/navbar.jinja" %}
        {% endblock %}
        <div class="container-fluid">
            <div class="row">
                {% block sidebar %}
                    {% include "site_template/sidebar.jinja" %}
                {% endblock %}
            
            
            
                {% block messages %}
                    {{ render_messages() }}
                {% endblock %}

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                {% block content %}
                {% endblock %}
                </main>
                <footer role="footer" class="col-md-9 ml-sm-auto col-lg-10 bg-dark px-md-4">
                {% block footer %}
                    {% include "site_template/footer.jinja" %}
                {% endblock %}
                </footer>
            </div>
        </div>
        {% block scripts %}
            {{ bootstrap.load_js() }}
            <!-- Feather Icons from CDN -->
            <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
            {# <script src="https://kit.fontawesome.com/1ffb064441.js" crossorigin="anonymous"></script> #}
            <script src="{{ url_for('static', filename='custom.js') }}"></script>
        {% endblock %}
    {% endblock %}
</body>

</html>
