<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Career Services Dashboard - {{ title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">

  <link rel="stylesheet" href="{{ url_for('static', filename='student.css') }}">
  <!-- Place favicon.ico in the root directory -->
</head>

<body>

    <h1>Navblock Here</h1>

    {% block content %}
  
    {% endblock content %}
  
  
</body>

</html>
