{% extends "base.jinja" %}

{% block content %}
<ul>
    <li><a href="{{ url_for('student') }}">Student Dashboard</a></li>
    <li><a href="{{ url_for('career') }}">Career Services Dashboard</a></li>
    <li><a href="{{ url_for('login') }}">Login Page </a></li>
    <li><a href="{{ url_for('reset') }}">Reset Password Page </a></li>


</ul>
{% endblock content %}

