{% extends "base.jinja" %}

{% block content %}
<ul>
    <li><a href="{{ url_for('student') }}">Student Dashboard</a></li>
    <li><a href="{{ url_for('career') }}">Career Services Dashboard</a></li>
</ul>
{% endblock content %}

