{% extends "base.jinja" %}

{% block content %}
    <div class="container">
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
        <a href="{{ url_for('forgotpassword') }}"> Forgot Password </a>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
{% endblock content %}

